body {
  font-family: monospace, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
  color: #333;
}


header {
  background: #333;
  color: white;
  padding: 1em;
  text-align: center;
}
nav a {
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
nav a:hover {
  color: #e65b24;
}

section {
  margin: 20px auto;
  width: 90%;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
}
svg {
  display: block;
  margin: auto;
}

.controls {
  text-align: center;
  margin: 20px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0077cc;
  border-radius: 5px;
  outline: none;
  background: white;
  transition: all 0.3s ease;
}

select:hover {
  border-color: #005fa3;
}

.chart-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.bar {
  fill: url(#barGradient);
}

.axis path,
.axis line {
  stroke: #333;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.arc text {
  font-family: sans-serif;
  font-weight: bold;
  pointer-events: none; /* Prevent overlap with hover */
}
